/*
	Hide padding in publish meta box
	Hide Visibility in publish meta box
	Hide post date in publish meta box
*/
div#minor-publishing-actions, div#visibility, div.curtime {
	display: none;
}

/* meta_box */
div#cptm_options div.inside, div#cptm_tax_options div.inside {
	padding: 0;
	margin: 0;
}

	table.cptm {
		width: 100%;
		border-collapse: collapse;
	}

	table.cptm td {
		border-bottom: 1px solid #e1e1e1;
		padding: 10px;
		margin: 0;
		background: #fff;
		vertical-align: top;
	}

		table.cptm td.label {
			width: 24%;
			border-right: 1px solid #e1e1e1;
			background: #f9f9f9;
			vertical-align: middle;
		}

		table.cptm td.label.top {
			vertical-align: top;
		}

			table.cptm td.label label {
				font-weight: bold;
				width: 24%;
			}

				table.cptm td.label label span.required {
					color: #f00;
					font-weight: bold;
				}

			table.cptm td.label p,  table.cptm td span.default {
				color: #666;
			}